nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
    width: 100%;
     overflow: visible; 
    .nav-up{
        background-color: #F8F9FA;
        padding: 10px 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-up-l{
            
            svg{
                font-size: 30px;
            }
        }
        .nav-up-r{
            display: flex;
            gap: 20px;

            span{
                display: flex;
                align-items: center;
                font-size: 12px;
                gap: 5px;
                letter-spacing: 1px;
            }
            svg{ 
                font-size: 20px;
                color: #F16821;
            }
        }
    }
    
    .nav-low{
        padding: 15px 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.759);
        height: max-content;
        width: 100%;
        
        .logo{
            color: black;
            font-size: 40px;
            font-weight: 1000;
            span{
                color: #F16821;
            }
        }
        .navlinks{
            display: flex;
            gap: 50px;
            font-size: 17px;
            a{
                color: black;
            }
        }
    }
}